body {
  margin: 0;
  font-family: arial;
}
section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff
}
header {
  position: absolute;
  top: 0;
  left: 35px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  position: relative;
  max-width: 200px;
}
header ul {
  position: relative;
  display: flex;
}
header ul li {
  list-style: none;
}
header ul li a {
  display: inline-block;
  color: #333;
  font-weight: 400;
  margin-left: 1px;
  margin-right: 70px;
  text-decoration: none;
}
.content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .textBox{
  position: relative;
  max-width: 800px;
}
h2 {
  color: maroon;
  font-size: 1.2em;
  font-weight: 900;
}
.content .textBox p {
  color: #333
}
.content .textBox a {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background: maroon;
  color: #fff;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
}
.content .imgBox {
  width: 600px;
  display: flex;
  justify-content: flex-end;
}
